*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Add users
cdk.context.json
npm-debug.log*
.env
.env.local
.env.*.local
*.log
.DS_Store

# Temporary AWS Account ID Masking
lib/environments.ts
